includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:

    paths:
        - app/

    stubFiles:
        - stubs/GitHubManager.stub
        - stubs/GitHub.stub

    # Level 10 is the highest level
    level: 5

    checkOctaneCompatibility: true

    excludePaths:
        - app/Actions/Fortify
