includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:

    paths:
        - app/

    stubFiles:
        - stubs/GitHub.stub

    # Level 10 is the highest level
    level: 3

    checkOctaneCompatibility: true

#    ignoreErrors:
#        - '#PHPDoc tag @var#'
#
#    excludePaths:
#        - ./*/*/FileToBeExcluded.php
