// Override default menu styles to force a clear border rather than a white shadow
.q-menu {
  &--dark {
    box-shadow: none;
    border: 1px solid $grey-8;
  }
}

// Increase table bottom padding, as dense mode has it way too...dense
.q-table__bottom {
  padding-top: 10px;
  padding-bottom: 10px;
}

// Our dark red text is hard to read on the dark bg we usually have stuff on
.q-field--error .q-field__bottom {
  font-weight: 600;
}

// More legible typography for input hints/errors
.q-field__bottom {
  font-size: 13px;
}
.q-field--dense .q-field__bottom {
  font-size: 12px;
}
.q-field__messages {
  line-height: 1.2;
}

// Default checkbox background is primary (yellow), so we need more contrast on the actual checkmark
.q-checkbox__svg {
  color: $dark;
}

.q-select--with-chips {
  .q-field__native {
    margin-top: 6px;
  }

  .q-chip {
    &--dense {
      height: 2em;
      background-color: $grey-9;
      border-radius: 3px;
      font-size: 13px;

      .q-chip__icon--remove {
        margin-right: 0;
      }
    }

    &__content {
      padding: 0 2px 2px 2px;
    }
  }
}

@media (max-width: $breakpoint-sm-max) {
  .q-dialog__inner--minimized {
    padding: 12px;
  }
}
